html,
body {
  padding: 0;
  margin: 0;
  font-family: Poppins;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: Poppins;
}

.nav {
  background-color: transparent;
  box-shadow:none;
  transition: 0.9s all ease-out;
}

.nav:hover {
  background-color: rgba(255, 166, 0, 0.2);
  backdrop-filter: 'blur(6px)';
  color: #ffa500;
    box-shadow: -2px 2px 5px 2px rgba(0,0,0,0.1);
}

.nav-action {
  background-color: transparent;
  box-shadow:none;
  transition: 0.9s all ease-out;
}

.nav-action:hover {
  background-color: rgba(14, 83, 148, 1);  
    box-shadow: -2px 2px 5px 2px rgba(0,0,0,0.3);
  color: #fff;
}

.footer {
 color: #000000;
  transition: color 0.9s ease-out;
}

.footer:hover {
  color: #ffa500;
}

.social:hover {
  color: #111111;
}

.mobileMenu {
  -moz-backdrop-filter: blur(17px);
  -webkit-backdrop-filter: blur(17px);
  backdrop-filter: blur(17px);
  left: -100rem;
  z-index: -1;
  opacity: 0.95;
  transition: left 0.5s;
}

.mobileMenu.true {
  left: 0;
  opacity: 0.95;
  -moz-backdrop-filter: blur(17px);
  -webkit-backdrop-filter: blur(17px);
  backdrop-filter: blur(17px);
  z-index: 1;
}

.mobileMenuList {
  top: 100rem;
  transition: top 0.5s ease;
  transition-delay: 0.3s;
}

.mobileMenuList.true {
  top: 0;
}

.reveal_first_section {
  opacity: 0;
  transition: 1s all ease;
}
.reveal_first_section.active {
  opacity: 1;
}

.reveal_first_section_image {
  transform: translateX(-150px);
  opacity: 0;
  transition: 1s all ease;
}
.reveal_first_section_image.active {
  transform: translateX(0px);
  opacity: 1;
}

.reveal_first_section_text {
  transform: translateX(150px);
  opacity: 0;
  transition: 1s all ease;
}
.reveal_first_section_text.active {
  transform: translateX(0px);
  opacity: 1;
}

/* Second Section */
.reveal_second_section {
  opacity: 0;
  transition: 1s all ease;
}
.reveal_second_section.active {
  opacity: 1;
}

.reveal_second_section_text {
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}
.reveal_second_section_text.active {
  transform: translateY(0px);
  opacity: 1;
}

.reveal_second_section_card_1 {
  transform: translateX(-150px);
  opacity: 0;
  transition: 1s all ease;
}
.reveal_second_section_card_1.active {
  transform: translateX(0px);
  opacity: 1;
}

.reveal_second_section_card_2 {
  transform: translateX(150px);
  opacity: 0;
  transition: 1s all ease;
}
.reveal_second_section_card_2.active {
  transform: translateX(0px);
  opacity: 1;
}

/* Third Section */
.reveal_third_section {
  opacity: 0;
  transition: 1s all ease;
}
.reveal_third_section.active {
  opacity: 1;
}

.reveal_third_section_text {
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}
.reveal_third_section_text.active {
  transform: translateY(0px);
  opacity: 1;
}

.reveal_third_section_card_1 {
  transform: translateX(-250px);
  opacity: 0;
  transition: 1s all ease;
}
.reveal_third_section_card_1.active {
  transform: translateX(0px);
  opacity: 1;
}

.reveal_third_section_card_2 {
  transform: translateX(-250px);
  opacity: 0;
  transition: 1s all ease;
}
.reveal_third_section_card_2.active {
  transform: translateX(0px);
  opacity: 1;
}

.reveal_third_section_card_3 {
  transform: translateX(-250px);
  opacity: 0;
  transition: 1s all ease;
}
.reveal_third_section_card_3.active {
  transform: translateX(0px);
  opacity: 1;
}

.reveal_third_section_card_4 {
  transform: translateX(-250px);
  opacity: 0;
  transition: 1s all ease;
}
.reveal_third_section_card_4.active {
  transform: translateX(0px);
  opacity: 1;
}

.reveal_third_section_image {
  transform: translateX(150px);
  opacity: 0;
  transition: 1s all ease;
}
.reveal_third_section_image.active {
  transform: translateX(0px);
  opacity: 1;
}

.reveal_fourth_section_text {
  transform: translateX(-150px);
  opacity: 0;
  transition: 1s all ease;
}
.reveal_fourth_section_text.active {
  transform: translateX(0px);
  opacity: 1;
}

.reveal_fourth_section_image {
  transform: translateX(150px);
  opacity: 0;
  transition: 1s all ease;
}
.reveal_fourth_section_image.active {
  transform: translateX(0px);
  opacity: 1;
}



@media screen and (max-width: 800px) {
  /* First Section */
.reveal_first_section_image {
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}
.reveal_first_section_image.active {
  transform: translateY(0px);
  opacity: 1;
}

.reveal_first_section_text {
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}
.reveal_first_section_text.active {
  transform: translateY(0px);
  opacity: 1;
}

/* Second Section */
.reveal_second_section {
  opacity: 0;
  transition: 1s all ease;
}
.reveal_second_section.active {
  opacity: 1;
}

.reveal_second_section_text {
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}
.reveal_second_section_text.active {
  transform: translateY(0px);
  opacity: 1;
}

.reveal_second_section_card_1 {
  transform: translateY(250px);
  opacity: 0;
  transition: 1s all ease;
}
.reveal_second_section_card_1.active {
  transform: translateY(0px);
  opacity: 1;
}

.reveal_second_section_card_2 {
  transform: translateY(250px);
  opacity: 0;
  transition: 1s all ease;
}
.reveal_second_section_card_2.active {
  transform: translateY(0px);
  opacity: 1;
}

/* Third Section */
.reveal_third_section {
  opacity: 0;
  transition: 1s all ease;
}
.reveal_third_section.active {
  opacity: 1;
}

.reveal_third_section_text {
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}
.reveal_third_section_text.active {
  transform: translateY(0px);
  opacity: 1;
}

.reveal_third_section_card_1 {
  transform: translateY(250px);
  opacity: 0;
  transition: 1s all ease;
}
.reveal_third_section_card_1.active {
  transform: translateY(0px);
  opacity: 1;
}

.reveal_third_section_card_2 {
  transform: translateY(250px);
  opacity: 0;
  transition: 1s all ease;
}
.reveal_third_section_card_2.active {
  transform: translateY(0px);
  opacity: 1;
}

.reveal_third_section_card_3 {
  transform: translateY(250px);
  opacity: 0;
  transition: 1s all ease;
}
.reveal_third_section_card_3.active {
  transform: translateY(0px);
  opacity: 1;
}

.reveal_third_section_card_4 {
  transform: translateY(250px);
  opacity: 0;
  transition: 1s all ease;
}
.reveal_third_section_card_4.active {
  transform: translateY(0px);
  opacity: 1;
}

.reveal_third_section_image {
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}
.reveal_third_section_image.active {
  transform: translateY(0px);
  opacity: 1;
}

.reveal_fourth_section_text {
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}
.reveal_fourth_section_text.active {
  transform: translateY(0px);
  opacity: 1;
}

.reveal_fourth_section_image {
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}
.reveal_fourth_section_image.active {
  transform: translateY(0px);
  opacity: 1;
}

}